<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-segment value="all" #discoverSegment>

      <ion-segment-button value="all">
        <ion-label>All Places</ion-label>
      </ion-segment-button>

      <ion-segment-button value="bookable">
        <ion-label>Bookable Places </ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="isLoadingPlaces" class="center">
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="!isLoadingPlaces && places.length <= 0" class="center">
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" class="ion-text-center">
        No place available!
        <br />
        Check back later.
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf=" !isLoadingPlaces && places.length > 0">
    <ion-row *ngFor="let place of places">
      <ion-col size="12" sizeSm="8" offsetSm="2" class="ion-text-center">
        <ion-card>
          <img [src]="place.imageUrl" class="discover-image ion-padding" />

          <ion-card-header>
            <ion-card-title>
              {{place.title}}
            </ion-card-title>

            <ion-card-subtitle>
              {{place.price | currency}} / Night
            </ion-card-subtitle>
            <ion-card-content>
              {{place.description}}
            </ion-card-content>
          </ion-card-header>

          <div class="ion-text-right ion-padding-right">
            <ion-button fill="clear" color="primary" [routerLink]="['./', 'detail', place.id]"> More </ion-button>

          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>